<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站信息浏览</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="websiteInfo.html" method="get" name="websiteInfoModel" multiple="">
    <input type="text" name="websiteInfoModel.name" id="name">
    <input type="text" name="websiteInfoModel.http" id="http">
    <input type="submit" value="查询" onclick="gridvalue()">
</form>

<table border="1px" style="border-color: #1b1e21">
    <thead>
    <tr>
        <td>ID</td>
        <td>名称</td>
        <td>地址</td>
        <td>备注</td>
        <td>参数</td>
    </tr>
    </thead>
    <tbody>
    <tr class="webvalue">
        <td id="websiteInfoModel.id"></td>
        <td id="websiteInfoModel.name"></td>
        <td id="websiteInfoModel.http"></td>
        <td id="websiteInfoModel.remark"></td>
        <td id="websiteInfoModel.param"></td>
    </tr>

    </tbody>

</table>

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="js/bootstrap.min.js">
    Window.load(gridvalue());
    function gridvalue() {
       var name = document.getElementById("name").value;
       var http = document.getElementById("http").value;
       var url = "/websiteInfo/findListWithPage?websiteInfoModel.name="+name+"&websiteInfoModel.http="+http+"&start=0&end=5";
        window.location.href=url;
    }
</script>
</body>
</html>